/* ==========================================================================
   COLORS
   ========================================================================== */
$white: #ffffff;
$white-transparent1: rgba(255, 255, 255, 0.3);

$black: #000000;

$blue-facebook: rgba(59, 89, 152, 1);
$blue-twitter: rgba(0, 172, 238, 1);
$blue-link: rgba(32, 52, 82, 1);
$blue-linkedin: rgba(0, 119, 181, 1);

$red-flipboard: rgba(225, 40, 40, 1);

$color-blue1: rgba(26, 174, 212, 1);
$color-blue2: rgba(32, 52, 82, 1);
$color-blue3: rgba(212, 246, 255, 1);
$color-blue4: rgba(16, 48, 78, 1);
$color-blue5: rgba(12, 81, 185, 1);

$color-yellow: rgba(253, 221, 106, 1);

$color-orange1: rgba(255, 242, 181, 1);
$color-orange2: rgba(252, 170, 96, 1);
$color-orange3: rgba(240, 109, 86, 1);
$color-orange4: rgba(254, 208, 1, 1);

$color-black2: rgba(64, 72, 83, 1);
$color-black3: rgba(64, 72, 83, 0.5);
$color-black4: rgba(157, 157, 157, 1);
$color-black5: rgba(220, 220, 220, 1);
$color-black6: rgba(57, 61, 71, 1);
$color-black7: rgba(78, 82, 91, 1);
$color-black8: rgba(74, 74, 74, 1);

$color-grey1: rgba(237, 237, 237, 1);
$color-grey2: rgba(242, 242, 242, 1);
$color-grey3: rgba(246, 247, 249, 1);
$color-grey4: rgba(244, 245, 246, 1);
$color-grey5: rgba(237, 237, 237, 1);
$color-grey6: rgba(167, 182, 207, 1);
$color-grey7: rgba(226, 230, 238, 1);
$color-grey8: rgba(190, 190, 190, 1);

$color-red2: rgba(225, 93, 107, 1);
$color-red3: rgba(254, 110, 125, 1);
$color-red4: rgba(233, 95, 92, 1);

$color-purple1: rgba(51, 32, 82, 1);
$color-purple2: rgba(92, 77, 117, 1);
$color-purple3: rgba(227, 235, 255, 1);

$color-green1: rgba(218, 232, 169, 1);
$color-green2: rgba(65, 212, 143, 1);

$color-blue-gradient: linear-gradient(180deg, #53b5fc 0%, #0052b3 100%);
$color-yellow-light: #fffbef;
