/* ==========================================================================
   VARIABLE
   ========================================================================== */
$header-height: 85px;

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$breakpoint-xl: 1440px;
$breakpoint-lg: 1216px;
$breakpoint-hg: 1024px;
$breakpoint-mh: 920px;
$breakpoint-md: 769px;
$breakpoint-sd: 555px;
$breakpoint-sm: 480px;
$breakpoint-ts: 360px;
$breakpoint-xs: 320px;

/* ==========================================================================
    FONT FAMILY
    ========================================================================== */
$font-nunito: 'Nunito Sans', sans-serif;
$font-luckiest-guy: 'Luckiest Guy', cursive;
$font-quicksand: 'Quicksand', sans-serif;
$font-fredoka-one: 'Fredoka One', sans-serif;

/* ==========================================================================
    FONT SIZE
    ========================================================================== */
$h1: 2.4rem;
$h2: 2rem;
$h3: 1.8rem;
$body1: 1.6rem;
$body2: 1.4rem;
$body3: 1.2rem;
$body4: 1rem;
