.container.comic-details {
	margin: 0 5rem;

	.content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 2rem 0;

		.back {
			a {
				text-decoration: none;
				font-weight: 700;

				.arrow {
					border: solid black;
					border-width: 0 3px 3px 0;
					display: inline-block;
					padding: 3px;
					margin-right: 0.75rem;

					&.left {
						transform: rotate(135deg);
						-webkit-transform: rotate(135deg);
					}
				}

				&:hover {
					color: rgb(135 128 74);
				}
			}
		}
		.info {
			display: flex;
			flex-wrap: wrap;

			.wrap {
				&-image {
					margin: 0 50px 50px 0;
					width: auto;
					flex: 1;
					max-width: 350px;
					min-width: 178px;

					&.skeleton {
						&-image {
							animation: skeleton-loading 1s linear infinite alternate;
						}
					}

					@include max($breakpoint-md) {
						margin: auto auto 50px auto;
					}

					img {
						width: 100%;
						height: auto;
						float: left;
					}
				}

				&-description {
					width: auto;
					max-width: 100%;
					// font-family: 'Roboto';
					flex: 1;
					font-size: 14px;

					h1 {
						margin: 0 0 1rem 0;
					}

					.meta {
						font-size: 16px;
						margin-bottom: 30px;

						ul {
							display: flex;
							flex-wrap: wrap;
							list-style: none;
							margin: 20px 0 0 0;
							padding: 0;

							li {
								flex: 0 0 50%;
								margin-bottom: 20px;
							}

							span {
								text-decoration: none;
								margin: unset;
							}
						}
					}

					.detail {
						margin: 0 0 0.6em 0;
						max-width: 430px;
						line-height: 1.3em;

						@include max($breakpoint-md) {
							margin: unset;
							max-width: unset;
						}
					}

					.other {
					}
				}
			}

			@include max($breakpoint-md) {
				flex-direction: column;
			}
		}
	}
}
@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
